<!DOCTYPE html>
<html>
<head>
  <title>My Blog Is Awesome</title>
  
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  
  <%= csrf_meta_tag %>
</head>
<body>

  <h1>My Blog Is Awesome</h1>

  <p class="notice"><%= notice %></p>

  <%= yield %>

</body>
</html>
